<div ng-controller="layoutController">
    <div ng-include="'app/layout/sidebar.html'"></div>
    <!-- Content -->
    <div class="main">
        <div class="hipsum">
            <div ng-view></div>
            <!--<div class="jumbotron">-->
                <!--<h1 id="hello,-world!">Welcome<a class="anchorjs-link" href="#hello,-world!"><span-->
                        <!--class="anchorjs-icon"></span></a></h1>-->

                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores, aut consequuntur-->
                    <!--debitis deserunt doloremque error et explicabo necessitatibus neque odio perspiciatis recusandae-->
                    <!--suscipit! Commodi facilis harum placeat possimus similique.</p>-->

                <!--<p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>-->
            <!--</div>-->
        </div>
    </div>
</div>