<div class="header">
    <a href="#" id="menu-action">
        <i class="fa fa-bars"></i>
        <span>Close</span>
    </a>
    <div class="logo">
        Serp Tracker
    </div>
</div>
<div class="sidebar">
    <ul>
        <li><a href="#"><i class="fa fa-desktop"></i><span>Dashboard</span></a></li>
        <li><a href="#/domains"><i class="fa fa-line-chart"></i><span>Domains</span></a></li>
        <li><a href="#/domains/create"><i class="fa fa-plus"></i><span>Add Domain</span></a></li>
    </ul>
</div>