<div ng-controller="layoutController">
    <div ng-include="'layout/sidebar.html'"></div>

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="jumbotron">
            <ul>
                <li>
                    Is logged in: <strong> {{user ? user : !!user}}</strong>
                </li>
                <li>
                    Config data: <strong> {{setupData}}</strong>
                </li>
            </ul>

            <!--<button class="btn btn-info" back><span class="fa fa-hand-o-left"></span> Go Back</button>-->
            <div ng-view></div>
        </div>

    </div>
</div>