<!-- Sidebar -->
<nav class="navbar navbar-default ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{setupData.name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/dashboard">Dashboard</a>
                </li>
                <li smurf-allow="permission.read.invoice">
                    <a href="#/invoices">Invoices</a>
                </li>
                <li smurf-allow="permission.read.invoice">
                    <a href="#/invoices/sent">Sent Invoices</a>
                </li>
                <li smurf-allow="permission.read.invoice">
                    <a href="#/invoices/pending">Pending Invoices</a>
                </li>
                <!--<li smurf-allow="permission.update.invoice">-->
                    <!--<a href="#/invoices">Pending Invoices</a>-->
                <!--</li>-->
                <li smurf-allow="permission.create.invoice">
                    <a href="#/invoices/create">Create Invoice</a>
                </li>
                <li ng-if="!user">
                    <a href="#/login">Login</a>
                </li>
                <li ng-if="user">
                    <a href="#/logout">Logout</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- /#sidebar-wrapper -->

